<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moxi.nexams">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 往sdcard中写入数据的权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 在sdcard中创建/删除文件的权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <application
        android:name=".application.HaierExamsApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MXPracticeActivity"
            android:exported="true"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MXWriteHomeWorkActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MXExamsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MXRequirementOptionActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MXHistoryActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.WrongSubjectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MXErrorExamsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SynchronousActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ExamsTestActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <!--试卷index界面-->
        <activity
            android:name=".activity.MXPaperIndexActivity"
            android:screenOrientation="portrait" />
        <!--完形填空-->
        <activity
            android:name=".activity.ClozeTestActivity"
            android:screenOrientation="portrait" />
        <!--七选五-->
        <activity
            android:name=".activity.SevenChoiceFiveActivity"
            android:screenOrientation="portrait" />
        <!--单项选择-->
        <activity
            android:name=".activity.ChoiceTestActivity"
            android:screenOrientation="portrait" />
        <!--文言文阅读界面-->
        <activity
            android:name=".activity.ClassicalChineseReadActivity"
            android:screenOrientation="portrait" />
        <!--其他题目-->
        <activity
            android:name=".activity.OtherTestActivity"
            android:screenOrientation="portrait" />
        <!--多想选择题-->
        <activity
            android:name=".activity.MultipleChoiceActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".db.DownDbService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>
