<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.moxi.writeNote">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission
        android:name="android.permission.DEVICE_POWER"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".WriteNoteApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.WriteNoteActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.NewActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".dialog.CustomPenActivity"
            android:theme="@style/AlertDialogStyle" />
        <activity
            android:name=".dialog.PageSkipActivity"
            android:theme="@style/AlertDialogStyle" />
        <activity
            android:name=".dialog.ScreenLightAdjustActivity"
            android:theme="@style/AlertDialogStyle" />
        <activity
            android:name=".Activity.SettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.FileSelectActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.ExternalActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".Activity.PicPostilActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity android:name=".Activity.utils.PhotoCutActivity" />
        <activity android:name=".Activity.ListMyBackgroundActivity"></activity>
    </application>

</manifest>