<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moxi.filemanager">

    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.DELETE_CACHE_FILES" />
    <uses-permission android:name="android.permission.ACCESS_CACHE_FILESYSTEM" />
    <uses-permission android:name="android.permission.REBOOT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!-- moxifm -->
    <application
        android:name=".FileApplication"
        android:allowBackup="true"
        android:icon="@mipmap/img_new_main_wjglq"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
        <activity
            android:name=".FileManagerActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CheckImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewFileManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FileSelectActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".PhotoExportPDFActivity"
            android:exported="true"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>