<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.moxi.systemapp"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 再添加读写权限这个可以实现安装时读取路径 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INJECT_EVENTS" />

    <application
        android:name=".SystemApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
        <activity android:name=".MainActivity" />
        <activity android:name=".dialog.SettingPicDilaog" />
        <activity
            android:name=".activity.PhotoCutActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AppsActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TestUnInStallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.AppInstallOrUninstallActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AlertDialogStyle" />
        <activity
            android:name=".activity.InstailSystemActivity"
            android:exported="true"
            android:theme="@style/AlertDialogStyle" />
        <activity
            android:name=".activity.DownLoadSystemActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".AppReceiver"
            android:enabled="true">
            <intent-filter>

                <!-- 一个新应用包已经安装在设备上，数据包括包名（监听所在的app，新安装时，不能接收到这个广播） -->
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <!-- 一个新版本的应用安装到设备，替换之前已经存在的版本  替换时会先收到卸载的再收到替换的， 替换自身也能收到 -->
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <!-- 一个已存在的应用程序包已经从设备上移除，包括包名（卸载监听所在的app，则无法接收到） -->
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".brodcast.SimulatorClick"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.moxi.systemapp.brodcast.SimulatorClick" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.UpdataHwtActivity"
            android:exported="true"></activity>
        <activity android:name=".dialog.InsureActivity"
            android:theme="@style/AlertDialogStyle" ></activity>
    </application>

</manifest>